<div class="detail-group clearfix">
    <div class="form-group clearfix">
        <div class="col-xs-12">
            <div class="col-xs-3">
                <label>{{'PROCESS-BUILDER.EMAIL-STEP.RECIPIENT.TYPE' | translate}}</label>
            </div>
            <div class="col-xs-9">
                <div class="btn-group span">
                    <button class="selection" ng-options="option as (option.title | translate) for option in recipientOptions"
                            bs-select ng-model="recipientOption" activiti-fix-dropdown-bug>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group clearfix" ng-if="recipientOption.id == 'aiaUser'">
        <div class="col-xs-12">
            <div class="col-xs-3">
                <label>{{'PROCESS-BUILDER.EMAIL-STEP.RECIPIENT.USER' | translate}}</label>
            </div>
            <div class="col-xs-9">
                <div class="people-select">
                    <button class="selection" select-people-popover="recipient.aiaUser" popover-title="PROCESS-BUILDER.EMAIL-STEP.RECIPIENT.POPOVER.USER-TITLE" placement="bottom"
                            select-people-form-fields="recipientFormFields"
                            on-people-selected="setRecipient(aiaUser,userField)"
                            on-email-selected="recipientObject.aiaUser = {email: email}">
                        <i class="icon icon-aiaUser" ng-show="recipientObject.aiaUser || recipientObject.userField"></i>
                        <span ng-if="!(recipientObject.aiaUser || recipientObject.userField)">{{'PROCESS-BUILDER.EMAIL-STEP.RECIPIENT.SELECT-USER' | translate}}</span>
                        <span ng-if="recipientObject.aiaUser && recipientObject.aiaUser.id" aiaUser-name="recipientObject.aiaUser"></span>
                        <span ng-if="recipientObject.userField">{{recipientObject.userField.name}}</span>
                        <span ng-if="recipientObject.userField" class="field-type"> - {{recipientObject.userField.id}}</span>
                        <i class="icon icon-caret-down"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group clearfix" ng-if="recipientOption.id == 'users'">
        <div class="col-xs-12">
            <div class="col-xs-3">
                <label>{{'PROCESS-BUILDER.EMAIL-STEP.RECIPIENT.USERS' | translate}}</label>
            </div>
            <div class="col-xs-9">
                <div class="clearfix selection narrow">
                    <ul class="simple-list" ng-show="recipientObject.users.length || recipientObject.userFields.length">
                        <li ng-repeat="aiaUser in recipientObject.users">
                            <i class="icon icon-aiaUser"></i>
                            <span aiaUser-name="aiaUser" />
                            <div class="actions">
                                <a ng-click="removeUser(aiaUser)"><i class="icon icon-remove"></i></a>
                            </div>
                        </li>
                        <li ng-repeat="userField in recipientObject.userFields">
                            <i class="icon icon-aiaUser"></i>
                            <span>{{userField.name}}</span>
                            <span class="field-type"> - {{userField.id}}</span>
                            <div class="actions">
                                <a ng-click="removeUserField(userField)"><i class="icon icon-remove"></i></a>
                            </div>
                        </li>
                    </ul>

                    <div class="pull-right">
                        <button class="btn btn-xs" select-people-popover
                                popover-title="PROCESS-BUILDER.EMAIL-STEP.RECIPIENT.POPOVER.USERS-TITLE"
                                placement="bottom-right"
                                select-people-form-fields="recipientFormFields"
                                on-people-selected="addRecipient(aiaUser, userField)"
                                on-email-selected="addUserByEmail(email)">
                            {{'PROCESS-BUILDER.EMAIL-STEP.RECIPIENT.ADD' | translate}}
                        </button>
                    </div>
                    <div class="no-results" ng-if="!(recipientObject.users && recipientObject.users.length) && !(recipientObject.userFields && recipientObject.userFields.length)">
                        {{'PROCESS-BUILDER.EMAIL-STEP.RECIPIENT.USERS-NONE' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>